@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff") format("woff"),
         url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
         url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}
